In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.svm import SVC
from sklearn import metrics

In [2]:
df=pd.read_csv('AMD.csv')
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,1980-03-17,0.000000,3.302083,3.125000,3.145833,3.145833,219600
1,1980-03-18,0.000000,3.125000,2.937500,3.031250,3.031250,727200
2,1980-03-19,0.000000,3.083333,3.020833,3.041667,3.041667,295200
3,1980-03-20,0.000000,3.062500,3.010417,3.010417,3.010417,159600
4,1980-03-21,0.000000,3.020833,2.906250,2.916667,2.916667,130800
...,...,...,...,...,...,...,...
10249,2020-11-05,83.269997,83.500000,81.849998,83.000000,83.000000,46542300
10250,2020-11-06,83.519997,86.089996,82.669998,85.879997,85.879997,53829900
10251,2020-11-09,84.239998,87.050003,82.769997,83.120003,83.120003,58580700
10252,2020-11-10,81.930000,82.129997,77.629997,77.989998,77.989998,67006400
10253,2020-11-11,79.389999,81.470001,78.970001,81.279999,81.279999,44304732

In [3]:
df['H-L']=df['High']-df['Low']
df['O-C']=df['Close']-df['Open']

In [4]:
def MA(dataset,days):
    n=days
    dataset['{} DAYS MA'.format(n)]=0
    for i in range(len(dataset)):
        dataset['{} DAYS MA'.format(n)].iloc[i]=sum(dataset['Close'].iloc[i-n:i])/n

In [5]:
MA(df,7)
MA(df,14)
MA(df,21)

C:\Users\Yao\AppData\Roaming\Python\Python37\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [6]:
df

,Date,Open,High,Low,Close,Adj Close,Volume,H-L,O-C,7 DAYS MA,14 DAYS MA,21 DAYS MA
0,1980-03-17,0.000000,3.302083,3.125000,3.145833,3.145833,219600,0.177083,3.145833,0.000000,0.000000,0.000000
1,1980-03-18,0.000000,3.125000,2.937500,3.031250,3.031250,727200,0.187500,3.031250,0.000000,0.000000,0.000000
2,1980-03-19,0.000000,3.083333,3.020833,3.041667,3.041667,295200,0.062500,3.041667,0.000000,0.000000,0.000000
3,1980-03-20,0.000000,3.062500,3.010417,3.010417,3.010417,159600,0.052083,3.010417,0.000000,0.000000,0.000000
4,1980-03-21,0.000000,3.020833,2.906250,2.916667,2.916667,130800,0.114583,2.916667,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
10249,2020-11-05,83.269997,83.500000,81.849998,83.000000,83.000000,46542300,1.650002,-0.269997,77.317142,79.339999,81.141428
10250,2020-11-06,83.519997,86.089996,82.669998,85.879997,85.879997,53829900,3.419998,2.360001,77.905714,79.327856,80.965714
10251,2020-11-09,84.239998,87.050003,82.769997,83.120003,83.120003,58580700,4.280006,-1.119995,79.259999,79.604999,80.935713
10252,2020-11-10,81.930000,82.129997,77.629997,77.989998,77.989998,67006400,4.500000,-3.940002,79.988571,79.716428,80.936666
10253,2020-11-11,79.389999,81.470001,78.970001,81.279999,81.279999,44304732,2.500000,1.889999,80.374285,79.629999,80.636666

In [7]:
import math
def std_dev(dataset,days):
    n=days
    dataset['{} DAYS STD DEV'.format(days)]=0
    dataset['sq(C-MA)']=(dataset['Close']-dataset['{} DAYS MA'.format(n)])**2
    for i in range(len(dataset)):
        dataset['{} DAYS STD DEV'.format(n)].iloc[i]=math.sqrt(sum(dataset['sq(C-MA)'].iloc[i-n:i])/n)
    dataset.drop('sq(C-MA)', axis=1,inplace=True)

In [8]:
std_dev(df,7)

C:\Users\Yao\AppData\Roaming\Python\Python37\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [9]:
df

,Date,Open,High,Low,Close,Adj Close,Volume,H-L,O-C,7 DAYS MA,14 DAYS MA,21 DAYS MA,7 DAYS STD DEV
0,1980-03-17,0.000000,3.302083,3.125000,3.145833,3.145833,219600,0.177083,3.145833,0.000000,0.000000,0.000000,0.000000
1,1980-03-18,0.000000,3.125000,2.937500,3.031250,3.031250,727200,0.187500,3.031250,0.000000,0.000000,0.000000,0.000000
2,1980-03-19,0.000000,3.083333,3.020833,3.041667,3.041667,295200,0.062500,3.041667,0.000000,0.000000,0.000000,0.000000
3,1980-03-20,0.000000,3.062500,3.010417,3.010417,3.010417,159600,0.052083,3.010417,0.000000,0.000000,0.000000,0.000000
4,1980-03-21,0.000000,3.020833,2.906250,2.916667,2.916667,130800,0.114583,2.916667,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10249,2020-11-05,83.269997,83.500000,81.849998,83.000000,83.000000,46542300,1.650002,-0.269997,77.317142,79.339999,81.141428,3.412531
10250,2020-11-06,83.519997,86.089996,82.669998,85.879997,85.879997,53829900,3.419998,2.360001,77.905714,79.327856,80.965714,3.921513
10251,2020-11-09,84.239998,87.050003,82.769997,83.120003,83.120003,58580700,4.280006,-1.119995,79.259999,79.604999,80.935713,4.664679
10252,2020-11-10,81.930000,82.129997,77.629997,77.989998,77.989998,67006400,4.500000,-3.940002,79.988571,79.716428,80.936666,4.832765
10253,2020-11-11,79.389999,81.470001,78.970001,81.279999,81.279999,44304732,2.500000,1.889999,80.374285,79.629999,80.636666,4.632579

In [10]:
# preprocessing : price rise (1) or fall (0) label
def add_label(df, column):
    label = []
    for i in range(len(df)):
        if(i == 0):
            label.append(0)
            continue
        if(df[column][i] >= df[column][i - 1]):
            label.append(1)
        else:
            label.append(0)
    return pd.Series(label)
    

df["label"] = add_label(df, "Close")
df

,Date,Open,High,Low,Close,Adj Close,Volume,H-L,O-C,7 DAYS MA,14 DAYS MA,21 DAYS MA,7 DAYS STD DEV,label
0,1980-03-17,0.000000,3.302083,3.125000,3.145833,3.145833,219600,0.177083,3.145833,0.000000,0.000000,0.000000,0.000000,0
1,1980-03-18,0.000000,3.125000,2.937500,3.031250,3.031250,727200,0.187500,3.031250,0.000000,0.000000,0.000000,0.000000,0
2,1980-03-19,0.000000,3.083333,3.020833,3.041667,3.041667,295200,0.062500,3.041667,0.000000,0.000000,0.000000,0.000000,1
3,1980-03-20,0.000000,3.062500,3.010417,3.010417,3.010417,159600,0.052083,3.010417,0.000000,0.000000,0.000000,0.000000,0
4,1980-03-21,0.000000,3.020833,2.906250,2.916667,2.916667,130800,0.114583,2.916667,0.000000,0.000000,0.000000,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10249,2020-11-05,83.269997,83.500000,81.849998,83.000000,83.000000,46542300,1.650002,-0.269997,77.317142,79.339999,81.141428,3.412531,1
10250,2020-11-06,83.519997,86.089996,82.669998,85.879997,85.879997,53829900,3.419998,2.360001,77.905714,79.327856,80.965714,3.921513,1
10251,2020-11-09,84.239998,87.050003,82.769997,83.120003,83.120003,58580700,4.280006,-1.119995,79.259999,79.604999,80.935713,4.664679,0
10252,2020-11-10,81.930000,82.129997,77.629997,77.989998,77.989998,67006400,4.500000,-3.940002,79.988571,79.716428,80.936666,4.832765,0
10253,2020-11-11,79.389999,81.470001,78.970001,81.279999,81.279999,44304732,2.500000,1.889999,80.374285,79.629999,80.636666,4.632579,1

In [11]:
#finding index
start=df.loc[df['Date']=='2009-04-06']
end=df.loc[df['Date']=='2019-04-05']
split=df.loc[df['Date']=='2017-04-03']
print(start.index,end.index,split.index)

Int64Index([7331], dtype='int64') Int64Index([9848], dtype='int64') Int64Index([9343], dtype='int64')

In [12]:
X = df.drop(['label','Date'], axis=1)
y=df['label']
print("Dimension of the Target: ", y.shape)
print("Dimension of the Data Matrix X: ", X.shape)

Dimension of the Target:  (10254,)
Dimension of the Data Matrix X:  (10254, 12)

In [13]:
start_time, split_time, end_time=7331, 9343,9848
X_train,X_val=X.loc[start_time:split_time],X.loc[split_time:end_time]
y_train,y_val=y.loc[start_time:split_time],y.loc[split_time:end_time]

In [14]:
X_train

,Open,High,Low,Close,Adj Close,Volume,H-L,O-C,7 DAYS MA,14 DAYS MA,21 DAYS MA,7 DAYS STD DEV
7331,3.30,3.56,3.25,3.53,3.53,15234800,0.310000,0.230000,3.254286,3.105000,2.846667,0.282138
7332,3.41,3.49,3.39,3.44,3.44,11663000,0.100000,0.030000,3.250000,3.160000,2.912857,0.195693
7333,3.50,3.73,3.43,3.68,3.68,16869600,0.300000,0.180000,3.260000,3.193571,2.974762,0.174917
7334,3.78,3.92,3.68,3.75,3.75,19026000,0.240000,-0.030000,3.330000,3.245000,3.039524,0.235014
7335,3.75,3.78,3.54,3.61,3.61,16038600,0.240000,-0.140000,3.430000,3.322143,3.108095,0.280540
...,...,...,...,...,...,...,...,...,...,...,...,...
9339,13.75,13.86,13.55,13.69,13.69,37420200,0.309999,-0.060000,13.857143,13.819286,13.862381,0.278700
9340,13.74,13.87,13.63,13.71,13.71,37863500,0.240000,-0.030000,13.885714,13.852857,13.790476,0.263688
9341,13.73,14.05,13.65,14.05,14.05,44132800,0.400001,0.320001,13.787143,13.880000,13.754762,0.160889
9342,14.10,14.75,14.01,14.55,14.55,84566200,0.740000,0.450000,13.820000,13.890000,13.711428,0.180050
9343,14.60,14.74,14.30,14.64,14.64,48423700,0.440000,0.040000,13.884286,13.909286,13.742381,0.325187

In [15]:
# train SVM model
svm = SVC()
svm.fit(X_train, y_train)
pred_y = svm.predict(X_val)

print("accuracy :", end=" ")
print(str(round(metrics.accuracy_score(pred_y, y_val) * 100, 2)) + " %" )

accuracy : 51.38 %